<p>
  <b>Date created:</b>
  <%= comment.created_at.strftime("%b %d, %Y") %>
</p>
<p>
	<b>Author:</b>
	<%= comment.author %>
</p>
<p>
	<b>Comment:</b>
	<%= comment.body %>
</p>
<p>
  <%= button_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<p>
  <b>----------------------------------------------------------------</b>
</p>
